* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./vackground-com-SfDofjXtxHE-unsplash\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 1px 10px 15px rgba(2, 103, 225, 0.925);
}

.container h1 {
    color: #170155;
    font-weight: bold;
    margin: 30px 0px;
}

#myTask {
    width: 70%;
    padding: 11px;
    border: 2px solid blue;
    margin-bottom: 20px;
    outline: none;
}

#myTask:focus {
    border: 2px solid red;
}

#add {
    padding: 10px 20px;
    background-color: #100146;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

#add:hover {
    background-color: #4B00FD;
}

ul {
    padding: 0;
    max-height: 150px;
    list-style-type: none;
    margin-bottom: 20px;
    overflow: auto;
}

li {
    background-color: #cfcdcd;
    border: 1px solid black;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/* Completed tasks */
.completed {
    background-color: #ff6b6b;
}

/* Remove button styling */
.remove-button {
    background-color: #100146;
    border: 2px solid black;
    font-weight: bold;
    padding: 10px 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.remove-button:hover {
    background-color: #4B00FD;
}

@media(max-width:500px) {
    .container {
        margin: 0px 10px;
    }
}